{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NASA EARTH TRASH</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
  <script src="https://unpkg.com/vuex@3.1.1/dist/vuex.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>

  <script type="text/javascript" src="{% static "map/js/cb.js" %}"></script>
  <script type="text/javascript" src="{% static "map/js/sprintf.min.js" %}"></script>
  <script type="text/javascript" src="{% static "map/js/cb.date.js" %}"></script>
  <script type="text/javascript" src="{% static "map/js/Leaflet.Control.Custom.js" %}"></script>
  <script type="text/javascript" src="{% static "axios/axios.min.js" %}"></script>
  <script type="text/javascript" src="{% static "axios/axios-csrf.js" %}"></script>
  <link rel="stylesheet" href="{% static "map/css/map.css" %}"/>

</head>
<body>
  <div id="app" class="box">
    <div id="earth_map">
    </div>
  </div>
<script type="text/babel" data-presets="es2015,stage-2">
Vue.config.devtools = true;

const GV = {} || GV

GV.URLS = {
    SATELLITE_TILE_URL: "{{ SATELLITE_TILE_URL }}",
    FETCH_BUOYS_DATA_URL: "{% url 'earth_trash.layer_data:fetch_buoys' %}",
    FETCH_TRASH_RECORDS_URL: "{% url 'earth_trash.trash:fetch_records' %}",
    TAIWAN_COUNTY_URL: "{% get_media_prefix %}" + 'taiwan_county.json'
}

window.gds = new Vue({
  el: '#app',
  delimiters: ["[[", "]]"],
  data: {
    map: null,
    dt_range: [new Date(2019, 8, 19), new Date(2019, 9, 19)],
    selected_dt: new Date(2019, 9, 18),
    selected_buoy: null,
    play: false,
    play_speed: 1000,  //  1 sec
    countries: [],
    layers: {
      buoys: {
        data: {},
        options: {
          pointToLayer: function(feature, latlng) {
            let icon_class = 'white-dot dot'

            switch (feature.properties.country) {
              case "UNITED STATES":
                icon_class = 'red-dot dot'
                break
              case "EUROPEAN UNION":
                icon_class = 'green-dot dot'
                break
              case "UNITED KINGDOM":
                icon_class = 'yellow-dot dot'
                break
              case "FRANCE":
                icon_class = 'brown-dot dot'
                break
              default:
                icon_class = 'white-dot dot'
                break
            }

            let icon = L.divIcon({className: icon_class});
            return L.marker(latlng, {icon: icon});
          },
          onEachFeature: (feature, layer) => {
            layer.on('click', e => {
              window.gds.selected_buoy = feature
            })
          }
        },
        layer: null,
      },
      trash_records: {
        data: [],
        options: {
          icon:  L.icon({
            iconUrl: '{% static 'map/img/trash_icon.png' %}',
            iconSize: [60, 60],
            iconAnchor: [30, 30],
            popupAnchor: [0, -20],
          })
        },
        cluster: L.markerClusterGroup({
            disableClusteringAtZoom: 11
        }),
      }
    },
  },

  mounted() {
    this.init_map()
    this.init_layers()
    this.init_control_panel()

    this.fetch_buoys_data()
    this.fetch_trash_records()
  },

  methods: {
    init_map() {
      this.set_map_size()
      window.onresize = this.set_map_size

      this.map = L.map('earth_map', {
        center: L.latLng(25.1, 121.4),
        zoom: 2,
        maxZoom: 13,
        minZoom: 2,
      });

      this.map.attributionControl.setPrefix('Power by iEducation');

      this.map.on("mousemove", e => {
        let _s = sprintf("%0.4f , %0.4f | Power by iEducation", e.latlng.lng, e.latlng.lat);
        this.map.attributionControl.setPrefix(_s);
      })

      this.map.on('locationerror', e => {
        alert(e.message);
      })
    },

    init_layers() {
      // add tile.
      L.tileLayer(GV.URLS.SATELLITE_TILE_URL, {
    tileSize: 512,
    zoomOffset: -1,
    minZoom: 1,
    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
    crossOrigin: true
  }).addTo(this.map);

       // load taiwan county
      axios.get(GV.URLS.TAIWAN_COUNTY_URL).then(rs => {
        let data = rs.data
        L.geoJson(data, {
            color: 'rgb(220,23,26)',
            weight: 1,
            opacity: 1,
            fillOpacity: 0
          }).addTo(this.map)
      })
      this.layers.trash_records.cluster.addTo(this.map)
    },

    init_control_panel() {

      // map control panel
      L.control.custom({
        position: 'topleft',
        content: '<div><button type="button" class="btn control-btn" id="locate_btn">'+
                 '    <i class="fas fa-location-arrow bigger-120"></i>'+
                 '</button></div>' +
                 '<div><button type="button" class="btn control-btn" id="play_btn">'+
                 '    <i class="fas fa-play bigger-120" id="play_ctrl"></i>'+
                 '</button></div>' +
                 '<div><button type="button" class="btn control-btn" id="dt_btn">'+
                 '    <i class="far fa-clock bigger-120" id="dt_ctrl"></i>'+
                 '</button><div id="dt_selector"></div>' +
                 '<div><button type="button" class="btn control-btn" id="clear_buoy_btn">'+
                 '    <i class="fas fa-times bigger-120" id="clear_buoy"></i>'+
                 '</button>' +
                 '</div>',
        classes: 'btn-group-vertical btn-group-sm',
        style:{
          margin: '12px',
          pading: '0',
          cursor: 'pointer',
        },
        events: {
          click: e => {
            if (e.path.indexOf(document.getElementById('locate_btn')) >= 0) {
              this.locate()
            } else if (e.path.indexOf(document.getElementById('play_btn')) >= 0) {
              this.play = !this.play
            } else if (e.path.indexOf(document.getElementById('dt_btn')) >= 0) {
              let $dt_selector = $('#dt_selector')

              if ($dt_selector.attr('datepicker')) {
                $dt_selector.datepicker('destroy');
                $dt_selector.removeAttr('datepicker');
              } else {
                $dt_selector.datepicker({
                  defaultDate: this.selected_dt,
                  changeYear: false,
                  dateFormat: 'yy-mm-ddT00:00:00',
                  minDate: -31,
                  maxDate: -1,
                  onSelect: dt_str => {
                    this.selected_dt = new Date(dt_str)
                    $dt_selector.datepicker('destroy');
                    $dt_selector.removeAttr('datepicker');
                  }
                });
                $dt_selector.attr('datepicker', 1);
              }
            } else if (e.path.indexOf(document.getElementById('clear_buoy_btn')) >= 0) {
              this.selected_buoy = null
            }
          }
        }
      }).addTo(this.map);

      // map time
      L.control.custom({
       position: 'bottomleft',
       content: '<div class="map_info" id="dt_desc">Data Time: ' + this.selected_dt.strftime("%Y-%m-%d") + '</div>' +
                '<div class="map_info" id="buoy_desc">Buoy Code: Unselected</div>',
       classes: 'btn-group-vertical btn-group-sm',
       style:{
         marginBottom: '20px',
         padding: '0',
       },
      }).addTo(this.map);
    },

    set_map_size() {
      document.getElementById('earth_map').style.height = window.innerHeight + 'px'

      if (this.map) {
        this.map.invalidateSize()
      }
    },

    fetch_buoys_data() {
      let dtg = this.selected_dt.strftime("%Y%m%d")
      let data = this.layers.buoys.data[dtg]
      let layer_opts = this.layers.buoys.options
      if (data) {
        if (this.layers.buoys.layer) {
          this.map.removeLayer(this.layers.buoys.layer)
        }

        data = this.get_country_buoys(data)
        data = this.filter_selected_buoy(data)

        this.layers.buoys.layer = L.geoJSON(data, layer_opts).addTo(this.map)
      } else {
        let payload = {
          params: {
              dtg: dtg,
            }
        }
        axios.get(GV.URLS.FETCH_BUOYS_DATA_URL, payload).then(rs => {
          if (rs.data.msg === "") {
            data = this.layers.buoys.data[dtg] = rs.data.data

            if (this.layers.buoys.layer) {
                this.map.removeLayer(this.layers.buoys.layer)
            }

            data.features.forEach(feature => {
              let country = feature.properties.country
              if (this.countries.indexOf(country) === -1) {
                this.countries.push(country)
              }
              // longitude in Pacific Ocean
              if (feature.geometry.coordinates[0] < -70) {
                feature.geometry.coordinates[0] += 360
              }
            })

            data = this.get_country_buoys(data)
            data = this.filter_selected_buoy(data)

            this.layers.buoys.layer = L.geoJSON(data, layer_opts).addTo(this.map)
          }
        })
      }
    },

    fetch_trash_records() {

      let layer_opts = this.layers.trash_records.options

      axios.get(GV.URLS.FETCH_TRASH_RECORDS_URL, {}).then(rs => {
        if (rs.data.msg === "") {
          let trash_records = rs.data.data
          this.layers.trash_records.data = trash_records

          trash_records.forEach(trash_record => {
            let marker = L.marker([trash_record.latitude, trash_record.longitude], layer_opts)

            let $pop_content = $("<div/>").addClass('pop_content')
            let $location = $("<div/>").addClass('record_location').text(trash_record.location)
            let $dtime = $("<div/>").addClass('record_dt').text(new Date(trash_record.dtime).strftimez('%Y.%m'))
            let $hr = $("<hr/>")
            let $garbage = $("<div/>").addClass('garbage')
            let $garbage_num = $("<div/>").addClass('garbage_num').text(trash_record.garbage.length)
            let $garbage_icon = $("<img/>").addClass('garbage_icon').attr('src', "{% static 'map/img/garbage.png' %}")

            $garbage_num.append($garbage_icon)
            $pop_content.append($location, $dtime, $hr, $garbage_num, $garbage)

            let $img_content = $("<div/>").width(80 * trash_record.garbage.length)
            $garbage.append($img_content)
            trash_record.garbage.forEach(garbage => {
              let $photo = $("<img/>").addClass('garbage_item').attr('src', garbage.photo)

              $img_content.append($photo)
            })

            marker.bindPopup($pop_content.prop("outerHTML"), {
              maxWidth: 300,
              maxHeight: 300
            })
            this.layers.trash_records.cluster.addLayer(marker)
          })
        }
      })

    },

    locate() {
      this.map.locate({setView: true, maxZoom: 10});
    },

    get_dates (startDate, stopDate) {
      let dateArray = []
      let currentDate = startDate
      while (currentDate <= stopDate) {
        dateArray.push(currentDate)
        currentDate = currentDate.addDays(1)
      }
      return dateArray;
    },

    carousel() {
      let dates = this.get_dates(this.dt_range[0], this.dt_range[1])
      let interval = setInterval(() => {
        if (this.play) {
          let dt = this.selected_dt
          let idx = dates.map(Number).indexOf(dt.getTime())

          let next_idx = idx + 1
          if (next_idx === dates.length) {
            next_idx = 0
          }
          this.selected_dt = dates[next_idx]
        } else {
            clearInterval(interval)
        }
      }, this.play_speed)
    },

    get_country_buoys(data, country) {
      let country_buoys = $.extend(true, {}, data)
      if (country) {
        let features = data.features.filter(f => {
          return f.properties.country === country
        })
        country_buoys.features = features
      }
      return country_buoys
    },

    filter_selected_buoy(data) {
      let selected_buoy = $.extend(true, {}, data)
      if (this.selected_buoy) {
        let features = data.features.filter(f => {
            return f.properties.platform_code === this.selected_buoy.properties.platform_code
        })
        selected_buoy.features = features
      }

      return selected_buoy
    }
  },

  watch: {
    selected_dt () {
      this.fetch_buoys_data()

      let dom_dt_desc = document.getElementById('dt_desc')
      dom_dt_desc.textContent = 'Data Time: ' + this.selected_dt.strftime("%Y-%m-%d")
    },

    selected_buoy () {
      this.fetch_buoys_data()

      let dom_buoy_desc = document.getElementById('buoy_desc')
      let desc = 'Unselected'
      if (this.selected_buoy) {
        desc = this.selected_buoy.properties.platform_code + "(" + this.selected_buoy.properties.country + ")"
      }
      dom_buoy_desc.textContent = 'Buoy Code: ' + desc
    },

    play() {
      let play_ctrl_class_list = document.getElementById('play_ctrl').classList

      if (this.play) {
        play_ctrl_class_list.remove('fa-play')
        play_ctrl_class_list.add('fa-pause')

        this.carousel()
      } else {
        play_ctrl_class_list.remove('fa-pause')
        play_ctrl_class_list.add('fa-play')
      }
    },

  },
});
</script>
</body>
</html>
