{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NASA EARTH TRASH</title>

  <script src ="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
  <script src ="https://unpkg.com/vuex@3.1.1/dist/vuex.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

  <script src ="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>

  <script type="text/javascript" src="{% static "map/js/cb.js" %}"></script>
  <script type="text/javascript" src="{% static "map/js/sprintf.min.js" %}"></script>
  <script type="text/javascript" src="{% static "map/js/cb.date.js" %}"></script>
  <script type="text/javascript" src="{% static "map/js/Leaflet.Control.Custom.js" %}"></script>
  <script type="text/javascript" src="{% static "axios/axios.min.js" %}"></script>
  <script type="text/javascript" src="{% static "axios/axios-csrf.js" %}"></script>
  <link rel="stylesheet" href="{% static "map/css/map.css" %}"/>

</head>
<body>
  <div id="app" class="box">
    <div id="earth_map">
    </div>
  </div>
<script type="text/babel" data-presets="es2015,stage-2">
Vue.config.devtools = true;

const GV = {} || GV

GV.URLS = {
    SATELLITE_TILE_URL: "{{ SATELLITE_TILE_URL }}",
    FETCH_BUOYS_DATA_URL: "{% url 'earth_trash.layer_data:fetch_buoys' %}"
}


window.gds = new Vue({
  el: '#app',
  delimiters: ["[[", "]]"],
  data: {
    map: null,
    dt_range: [new Date(2019, 8, 19), new Date(2019, 9, 18)],
    selected_dt: new Date(2019, 8, 19),
    play: false,
    play_speed: 2000,  //  2 sec
    layers: {
      buoys: {
        data: {},
        options: {},
        cluster: L.markerClusterGroup(),
        layer: null
      }
    }
  },

  components: {
  },

  mounted() {
    this.init_map()
    this.init_control_panel()
    this.fetch_buoys_data()
  },

  computed: {
  },

  methods: {
    init_map() {
      this.set_map_size()
      window.onresize = this.set_map_size

      this.map = L.map('earth_map', {
        center: new L.LatLng(24.20, 120.85),
        zoom: 5,
        maxZoom: 13,
        minZoom: 2,
      });

      this.map.attributionControl.setPrefix('Power by iEducation');
      L.tileLayer(GV.URLS.SATELLITE_TILE_URL, {
        tileSize: 512,
        zoomOffset: -1,
        minZoom: 1,
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
        crossOrigin: true
      }).addTo(this.map);

      this.map.on("mousemove", e => {
        let _s = sprintf("%0.4f , %0.4f | Power by iEducation", e.latlng.lng, e.latlng.lat);
        this.map.attributionControl.setPrefix(_s);
      })

      this.map.on('locationerror', e => {
        alert(e.message);
      })

      this.layers.buoys.cluster.addTo(this.map)
    },

    init_control_panel() {

      // map control panel
      L.control.custom({
        position: 'topleft',
        content: '<div><button type="button" class="btn control-btn" id="locate_btn">'+
                 '    <i class="fas fa-location-arrow bigger-120"></i>'+
                 '</button></div>' +
                 '<div><button type="button" class="btn control-btn" id="play_btn">'+
                 '    <i class="fas fa-play bigger-120" id="play_ctrl"></i>'+
                 '</button></div>',
        classes: 'btn-group-vertical btn-group-sm',
        style:{
          margin: '12px',
          pading: '0',
          cursor: 'pointer',
        },
        events: {
          click: e => {
            if (e.path.indexOf(document.getElementById('locate_btn')) >= 0) {
              this.locate()
            } else if (e.path.indexOf(document.getElementById('play_btn')) >= 0) {
              this.play = !this.play
            }
          }
        }
      }).addTo(this.map);

      // map time
      L.control.custom({
       position: 'bottomleft',
       content: '<div id="dt_desc"> Data Time: ' + this.selected_dt.strftime("%Y-%m-%d")+ '</div>',
       classes: 'btn-group-vertical btn-group-sm',
       style:{
         marginBottom: '20px',
         padding: '0',
       },
      }).addTo(this.map);
    },

    set_map_size() {
      document.getElementById('earth_map').style.height = window.innerHeight + 'px'

      if (this.map) {
        this.map.invalidateSize()
      }
    },

    fetch_buoys_data() {
      let dtg = this.selected_dt.strftime("%Y%m%d")
      let data = this.layers.buoys.data[dtg]
      let layer_opts = {
        pointToLayer: function(feature, latlng) {
          let icon = L.divIcon({className: 'white-dot dot'});
          return L.marker(latlng, {icon: icon});
        }
      }

      if (data) {
        if (this.layers.buoys.layer) {
          this.map.removeLayer(this.layers.buoys.layer)
        }
        this.layers.buoys.layer = L.geoJSON(data, layer_opts).addTo(this.map)

        {#this.layers.buoys.cluster.clearLayers()#}
        {#this.layers.buoys.cluster.addLayer(L.geoJSON(data, layer_opts))#}
      } else {
        let payload = {
          params: {
              dtg: dtg,
            }
        }
        axios.get(GV.URLS.FETCH_BUOYS_DATA_URL, payload).then(rs => {
          if (rs.data.msg === "") {
            data = this.layers.buoys.data[dtg] = rs.data.data
            if (this.layers.buoys.layer) {
                this.map.removeLayer(this.layers.buoys.layer)
            }
            this.layers.buoys.layer = L.geoJSON(data, layer_opts).addTo(this.map)
            {#this.layers.buoys.cluster.clearLayers()#}
            {#this.layers.buoys.cluster.addLayer(L.geoJSON(data, layer_opts))#}
          }
        })
      }
    },

    locate() {
      this.map.locate({setView: true, maxZoom: 10});
    },

    get_dates (startDate, stopDate) {
      let dateArray = []
      let currentDate = startDate
      while (currentDate <= stopDate) {
        dateArray.push(currentDate)
        currentDate = currentDate.addDays(1)
      }
      return dateArray;
    },

    carousel() {
      let dates = this.get_dates(this.dt_range[0], this.dt_range[1])

      let interval = setInterval(() => {
        if (this.play) {
          let dt = this.selected_dt
          let idx = dates.indexOf(dt)

          let next_idx = idx + 1
          if (next_idx === dates.length) {
            next_idx = 0
          }
          this.selected_dt = dates[next_idx]
        } else {
            clearInterval(interval)
        }
      }, this.play_speed)
    }
  },

  watch: {
    selected_dt () {
      this.fetch_buoys_data()

      let dom_dt_desc = document.getElementById('dt_desc')
      dom_dt_desc.textContent = 'Data Time: ' + this.selected_dt.strftime("%Y-%m-%d")
    },

    play() {
      let play_ctrl_class_list = document.getElementById('play_ctrl').classList

      if (this.play) {
        play_ctrl_class_list.remove('fa-play')
        play_ctrl_class_list.add('fa-pause')

        this.carousel()
      } else {
        play_ctrl_class_list.remove('fa-pause')
        play_ctrl_class_list.add('fa-play')
      }
    }
  },
});
</script>
</body>
</html>
